   
@model ICA.ViewModel.ArticleViewModel

@{
    ViewData["Title"] = "Create";
   

}
<h1><i class="bi bi-file-plus"></i> إنشاء مقال جديد</h1>

<hr />
<form asp-action="Create" id="myForm" enctype="multipart/form-data" method="post">
<div class="row MyContainer">
    <div class="col-md-8"> 
     
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-1">
                <label asp-for="TypeOfArticles" class="control-label">نوع المقال</label>
                <select required dir="rtl" class="form-select" asp-for="TypeOfArticles" aria-label="Default select example">
                    <option value="خبر">خبر</option>
                    <option value="حدث">حدث</option>
                    <option value="مقال للمدونة">مقال للمدونة</option>
                 
                </select>
                <span asp-validation-for="TypeOfArticles" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <label asp-for="ContentEnglish" class="control-label">المصدر</label>
                <select asp-for="thenameassoc" class="form-select" asp-items="@(new SelectList(Model.AssosiationList, "Id", "FullName"))"></select>
                <span asp-validation-for="thenameassoc" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <label asp-for="TitleArabic" class="control-label">عنوان المقال</label>
                <input asp-for="TitleArabic" class="form-control" />
                <span asp-validation-for="TitleArabic" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <label asp-for="ContentArabic" class="control-label"> محتوى المقال</label> <i class="bi bi-exclamation-circle-fill text-primary" data-bs-toggle="popover" title="ملاحظة" data-bs-content="الرجاء تحميل صورة واحد على الأكثر داخل محتوى المقال وتحميل الصور في ألبوم الصور"></i>
                <textarea id="summernote" asp-for="ContentArabic"></textarea>
                <span asp-validation-for="ContentArabic" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <label asp-for="DatePuplished" class="control-label">تاريخ النشر</label>
                <input  dir="rtl" type="date" asp-for="DatePuplished" class="form-control" value=@DateTime.Now.AddYears(-0).ToString("yyyy-MM-dd") />
                <span asp-validation-for="DatePuplished" class="text-danger"></span>
            </div>
          
          
            <div class="form-group mt-1">
                <label asp-for="TitleEnglish" class="control-label">عنوان المقال بالإنجليزية</label>
                <input asp-for="TitleEnglish" class="form-control" />
                <span asp-validation-for="TitleEnglish" class="text-danger"></span>
            </div>
            <div class="form-group mt-1" dir="ltr">
                <label asp-for="ContentEnglish" class="control-label">محتوى المقال بالإنجليزية</label> <i class="bi bi-exclamation-circle-fill text-primary" data-bs-toggle="popover" title="ملاحظة" data-bs-content="الرجاء تحميل صورة واحد على الأكثر داخل محتوى المقال وتحميل الصور في ألبوم الصور"></i>
                <textarea required id="summernote2" asp-for="ContentEnglish"></textarea>
                <span asp-validation-for="ContentEnglish" class="text-danger"></span>
            </div>
           
         
            <div class="form-group mt-1">
                <button type="button" onclick="Validatoin();" class="btn btn-primary Mybutton m-2"> حفظ <i class="bi bi-check2-circle"></i></button>
                <button hidden type="submit" id="submitbutton" class="btn btn-primary Mybutton m-2"> حفظ <i class="bi bi-check2-circle"></i></button>
               @* <input type="submit" value="حفظ" class="btn btn-primary " />*@
            </div>
       
    </div>
    <div class="col-md-4">
        <div class="custom-file mt-2">
            <label class="control-label">صورة الغلاف</label>
            <input required type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" accept="image/*" asp-for="ProfilePictureFile"
                   onchange="document.getElementById('pp').src=window.URL.createObjectURL(this.files[0])" />
        </div>
        <img id="pp" alt="profile" src="~/PorfilesPictures/ProfilePicture.png" class="img-thumbnail" width="450" height="450" />

    </div>
</div>
</form>
<div>
   
    <a asp-action="Index" class="btn btn-secondary"> <i class="bi bi-arrow-return-right"></i> العودة</a>
</div>
@section Scripts {
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
  
}

<script>
    function Validatoin() {
      var content1=  document.getElementById("summernote");
      var content2=  document.getElementById("summernote2");
        if (content1.value == '' || content2.value == '') {
            alert("يجب ملء جميع الحقول");
           
        }else{
            document.getElementById("submitbutton").click();
        }
       
       }
</script>
