@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Donation"];
    ViewData["meta"] = localizer["Support Islamic charity associations dedicated to providing humanitarian aid to those in need regardless of their political, religious, or sectarian affiliations. Help us achieve our vision of a compassionate society and contribute to the growth and progress of the community through our various projects and initiatives. Donate now to provide material and moral support, vocational training, and educational and psychological assistance to affected families and displaced individuals."];
    Layout = "_MainLayout";
    ViewData["type"] = "website";
    ViewData["Image"] = "https://icangoh.org/desighn/logo-modified-min.png";
}
@{
    string direction = "";
    if (CultureInfo.CurrentCulture.Name.StartsWith("ar")) { direction = "rtl"; }
    else { direction = "ltr"; }
}

<img src="/images/donation.webp" class="img-fluid" alt="Donation">
@*
<div class="hero-wrap" style="background-image: url('/images/donation_cut.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Hr</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hr</h1>
            </div>
        </div>
    </div>
</div>
*@
