@{
    ViewData["Title"] = "Association structure";
    ViewData["meta"] = "Learn about the structure of our association, including our mission, vision, and values.";
    Layout = "_MainLayout";
    ViewData["Url"] = Context.Request.GetDisplayUrl();
    ViewData["Image"] = "https://icangoh.org/desighn/logo-modified-min.png";
    ViewData["type"] = "website";

}


<link href="~/desighn/articledesighn.css" rel="stylesheet" />

<div class="ColoredNav alert alert-dark" role="alert">
    <br>
    <br><br>

</div>
<hr>
<img src="/images/structure.webp" class="img-fluid" alt="Association structure">
